<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>RegistroU</servlet-name>
        <servlet-class>Vista.RegistroU</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Vista.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IngresoNotas</servlet-name>
        <servlet-class>Vista.IngresoNotas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>INotas</servlet-name>
        <servlet-class>Vista.INotas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrearCurso</servlet-name>
        <servlet-class>Vista.CrearCurso</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NuevoCurso</servlet-name>
        <servlet-class>Vista.NuevoCurso</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Correo</servlet-name>
        <servlet-class>Vista.Correo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PDFNotasA</servlet-name>
        <servlet-class>Vista.PDFNotasA</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Consultas</servlet-name>
        <servlet-class>Vista.Consultas</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegistroU</servlet-name>
        <url-pattern>/RegistroU</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IngresoNotas</servlet-name>
        <url-pattern>/IngresoNotas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>INotas</servlet-name>
        <url-pattern>/INotas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrearCurso</servlet-name>
        <url-pattern>/CrearCurso</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NuevoCurso</servlet-name>
        <url-pattern>/NuevoCurso</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Correo</servlet-name>
        <url-pattern>/Correo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PDFNotasA</servlet-name>
        <url-pattern>/PDFNotasA</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Consultas</servlet-name>
        <url-pattern>/Consultas</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
