*{
    margin:0;
    padding:0;
}
body {
    background:url("../img/FondoProyecto.jpg");
    background-repeat:no-repeat;
    background-size: 100%;
    width:100%;
}

#containerLogin{
    width: 350px;
    margin-top: 120px;
    background: #ffebee; /*#E2E2E2*/
    padding-top: 20px;
    padding-bottom: 20px;
}
#form1{
    margin-top: 30px;
}
#btnLogin{
    width: 100%;
}

#staticEmail{
    background: #FFFFFF;
    margin-left: 25px;
}

#inputPassword{
    background: #FFFFFF;   
    margin-left: 25px;
}

#Registrar{
    color: #FFFFFF;
}

#form2{
     width: 500px;
    margin-top: 120px;
    background: #ffebee  ;
    padding-top: 20px;
    padding-bottom: 20px;
   margin-left: 400px;
}

#form3{
     width: 50%;
     height: 50%;
    margin-top: 80px;
    background: #c5cae9;
   padding: 50px 50px 50px 50px;
   margin-left: 350px;
}

#SlcGenero{
  margin-left: 125px; 
}

#SlcUsu{
  margin-left: 125px;  

}
#H2{
    font-family: 'Patua One', cursive;
    text-align: center;
    color:  #1a237e;
    
}

.slider {
	width: 95%;
	margin: auto;
	overflow: hidden;
        
}

.slider ul {
	display: flex;
	padding: 0;
	width: 400%;
	
	animation: cambio 20s infinite alternate linear;
}

.slider li {
	width: 100%;
	list-style: none;
}

.slider img {
	width: 75%;
        height: 150%;
       
}

@keyframes cambio {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}
